<div class= "container"><br>
<h1><%= @list.name %></h1>
<p><% @list.bookmarks.each do |bookmark| %></p>
<p><%= bookmark.movie.title %></p>
<p>Rating: <%= bookmark.movie.rating %></p>
<%= link_to 'Delete', bookmark_path(bookmark), method: :delete, class: "btn btn-primary"%>
<p><%= image_tag bookmark.movie.poster_url %></p>
<p>My comment: <%= bookmark.comment %></p>
<% end %>
<br>
<%= link_to 'Back to lists', lists_path, class: "btn btn-primary"%> | <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-primary"%> |
</div>
